:root {
  --primary-color: #fce138;
  --secondary-color: #024e76;
  --tertiary-color: #39a6b2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: monospace
  }

header {
  padding: 20px 35px;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  }

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header a {
text-decoration: none;
font-family: 'Courier New', Courier, monospace;
color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* Hero Style Start */
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  height: 800px;
}
/* Hero Style End */

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  margin: 0;
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.form-input {
  border: 1px solid var(--secondary-color);
  display: block;
  font-size: 16px;
  padding: 7px 15px;
  width: 100%; 
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.75);
}

.form-input:focus {
  background-color: rgba(255,255,255, 1);
  outline: none;
}

section {
  padding: 60px;
}

.section-title {
  font-size: 48px;
  color: var(--secondary-color);
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: #000000;
}

.projects {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* display:block and margin:auto are what centers the image! */
.project {
  border: 20px solid #1d1d2c;
  border-radius: 20px;
  margin: 0 20px 30px 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
  flex: 1
}

.project img {
  border-radius: 15px;
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 85%;
  height: auto;
}

.project img:hover {
  border: 5px solid #82828b;
}

.project-bio {
  height: 50%;
  padding: 25px;
}

.project-bio h3 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

.project-bio p {
  display: block;
  margin: auto;
  width: 70%;
  height: 25%;
  font-size: 17px;
}

.bio-text {
  margin: auto;
  width: 50%;
  font-size: 20px;
}

.avatar {
  margin-right: 25px;
  height: 100px;
  width: 100px;
}

.header-title {
  margin-top: 30px;
}

.contact {
  background: linear-gradient(135deg, rgb(73, 30, 13), rgb(190, 113, 24));
  /* background: var(--secondary-color); */
}

.contact h2 {
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: var(--primary-color);
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-links {
  font-size: 25px;
}

.email-phone p {
  font-size: 25px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }

  .project {
    flex: 0 70%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .project {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}